*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#box1{
    height: 300px;
    width: 300px;
    background-color: rgb(16, 69, 228);
}
#box2{
    height: 300px;
    width: 300px;
    background-color: rgb(179, 250, 12);
}
#box3{
    height: 300px;
    width: 300px;
    background-color: rgb(130, 20, 220);
}