@font-face {
    font-family: "Plain Light","silk serif",;
    src: url();
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: PP Woodland; */
    font-family: "Plain Light";
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
}
.line{
   
    height: fit-content;
    overflow: hidden;/* Overflow hidden se ye hoga ki iske gsap me to y 150 de rakhi hain and idhr hai ki overflow hidden ho gya us div se so isi karan ye just neeche se hi aaata hua appear hota hai rather than y 150 se */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw; 
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 2.5vw;
    font-weight: 100;
    font-family: 'silk serif';
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{ 
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}





#line1-part1 h5{
width: 5vw;
text-align: right;
}
#main{
    position:relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;


}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw ;
}
#nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 900;
    font-family: "plain";
}
.hero{
    /* background-color: red; */
    margin-left: 27%;
    width: 70%;
}

.hero:nth-child(2){
    margin-top: 18vh;
    

}
.hero h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 600;
}