*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP Woodland;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #e3e3c4;
    
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #5b6647;
    padding: 5vw;
}
#page2 h1{
    color: #444c35;
    font-size: 4.5vw;
    text-align: center;
    font-weight: 500;
    font-family: PP Woodland;
    line-height: 4.5vw;

}
#page2 h1 span{
    /*coz span tag thoda nawab hai*/
    font-family:PP woodland ;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #e3e3c4;
}